body{
  background-color: #171717;
}

/*-----------------------------------*\
#CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */
  
  --cadet-blue-crayola: hsl(227, 13%, 73%);
  --maximum-yellow-red: hsl(41, 95%, 61%);
  --medium-sea-green: hsl(142, 43%, 54%);
  --blue-crayola_10: hsla(222, 100%, 61%, 0.05);
  --smocky-black_30: hsla(0, 0%, 6%, 0.3);
  --eerie-black-1: hsl(240, 5%, 8%);
  --eerie-black-2: hsl(228, 9%, 10%);
  --raisin-black: hsl(225, 15%, 16%);
  --blue-crayola: hsl(222, 100%, 61%);
  --roman-silver: hsl(223, 10%, 52%);
  --presian-red: hsl(0, 64%, 52%);
  --gunmetal_50: hsla(230, 16%, 22%, 0.5);
  --gainsboro: hsl(0, 0%, 85%);
  --cultured: hsl(0, 0%, 93%);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white_30: hsla(0, 0%, 100%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --white: hsl(0, 0%, 100%);

  /**
   * gradient color
   */

  --gradient: linear-gradient(90deg, var(--white_10) 0px 77%, var(--white_50) 92%, transparent);

  /**
   * typography
   */

  --ff-dm-sans: 'DM Sans', sans-serif;

  --fs-1: 3.2rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * shadow
   */

  --shadow-1: 0px 4px 8px var(--black_10);
  --shadow-2: 0px 30px 10px -20px var(--smocky-black_30);
  --shadow-3: 0px 15px 10px -20px var(--smocky-black_30);

  /**
   * radius
   */

  --radius-12: 12px;
  --radius-24: 24px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
svg,
data,
span,
button,
ion-icon { display: block; }

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

table { border-collapse: collapse; }

html {
  font-family: var(--ff-dm-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black-2);
  color: var(--cadet-blue-crayola);
  font-size: 1.6rem;
  line-height: 1.4;
}

body.active { overflow: hidden; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(220, 4%, 5%); }

::-webkit-scrollbar-thumb { background-color: hsl(220, 5%, 20%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(220, 5%, 30%); }

:focus-visible { outline-offset: 4px; }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

 .container { padding-inline: 15px; }

.btn {
  color: var(--white);
  border-radius: 50px;
}

.btn-outline {
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  border: 1px solid var(--white);
  padding: 5px 15px;
  transition: var(--transition-1);
}

.btn-outline:is(:hover, :focus) {
  background-color: var(--blue-crayola);
  border-color: var(--blue-crayola);
}

.btn-primary {
  position: relative;
  background-color: var(--blue-crayola);
  max-width: max-content;
  font-weight: var(--fw-700);
  padding: 13px 30px;
  overflow: hidden;
  z-index: 1;
}

.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -50px;
  background-image: var(--gradient);
  transform: translateX(-100%);
  opacity: 0;
  z-index: -1;
  transition: var(--transition-2);
}

.btn-primary:is(:hover, :focus)::after {
  transform: translateX(0);
  opacity: 1;
}

.section { padding-block: var(--section-padding); }

[data-section] > * {
  transform: translateY(50px);
  opacity: 0;
  transition: var(--transition-3);
}

[data-section].active > * {
  opacity: 1;
  transform: translateY(0);
}

.h1,
.h2,
.h3 {
  color: var(--white);
  line-height: 1.1;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.w-100 { width: 100%; }

.badge {
  color: var(--white);
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
  padding: 4px 8px;
  border-radius: 50px;
}

.badge.red { background-color: var(--presian-red); }

.badge.green { background-color: var(--medium-sea-green); }

.last-update.red { color: var(--presian-red); }

.last-update.green { color: var(--medium-sea-green); }

.section-text {
  font-size: var(--fs-5);
  margin-block: 15px 35px;
}

.section-list { margin-block-end: 35px; }

.section-item:not(:last-child) { margin-block-end: 25px; }

.section-item .title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-end: 15px;
}

.section-item .title-wrapper ion-icon {
  flex-shrink: 0;
  color: var(--blue-crayola);
  font-size: 24px;
}



 

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  top: 0;
  left: 0;
  width: 100%;
  height:100px;
  background-color: var(--eerie-black-1);display: flex;
  align-items: center;
  padding-block: 15px;
  z-index: 4;
}

.header.active {
  position: fixed;
  top: -66px;
  background-color: var(--white);
  border-block-start: 1px solid var(--cultured);
  box-shadow: var(--shadow-1);
  animation: slideIn 0.25s var(--cubic-out) forwards;
}

@keyframes slideIn {

  0% {
    transform: translateY(0);
    background-color: var(--white);
  }

  100% {
    transform: translateY(100%);
    background-color: var(--eerie-black-2);
  }

}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}



.nav-toggle-btn .line {
  width: 26px;
  height: 3px;
  background-color: var(--white);
  transition: var(--transition-1);
}

.nav-toggle-btn .line:not(:last-child) { margin-block-end: 4px; }

.nav-toggle-btn {
  padding: 8px 5px;
  margin-inline-start: auto;
}

.nav-toggle-btn.active .line-1 { transform: rotate(45deg) translate(5px, 6px); }

.nav-toggle-btn.active .line-2 { opacity: 0; }

.nav-toggle-btn.active .line-3 { transform: rotate(-45deg) translate(4px, -5px); }

.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--eerie-black-1);
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  max-height: calc(100vh - 63px);
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar-item:not(:last-child) { border-block-end: 1px solid var(--white_30); }

.navbar-link {
  color: var(--white);
  font-weight: var(--fw-700);
  padding: 12px 30px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus, .active) { color: var(--blue-crayola); }




#blog-posts {
  padding: 20px;
  width: 500px;
}

.post {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.post h2 {
  margin-bottom: 5px;
}

.post p {
  margin-bottom: 10px;
}

.modal{
  display: flex;
  margin-left: 50px;
}

.modal-content {
display: none;
margin-top: 10px;
width: 40%;
}
.modal-content.show {
display: block; /* Show modal-content when the "show" class is applied */
}

#blog-title, #blog-content, #blog-image{
color: white;
border-style: none;
padding: 10px;
border-radius: 10px;
margin: 5px;
margin-left: -2px;
background-color: black;
}

#blog-title{
width: 75%;
}
::placeholder{
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#submit-blog{
  color: white;
  padding: 10px;
  margin-top: 5px;
  background-color: green;
  border-radius: 6px;
}

#write-new-blog{
color: white;
padding: 5px;
background-color: rgb(30, 30, 159);
border-radius: 5px;
}


.footer-top {
  background-color: var(--eerie-black-1);
  padding-block: 80px 50px;
}

.footer-top .container {
  display: grid;
  gap: 50px;
}

.footer .logo { font-size: 3rem; }

.footer-title {
  color: var(--white);
  font-size: var(--fs-3);
  margin-block: 25px 20px;
}

.footer-contact-link:not(:last-child) { margin-block-end: 12px; }

address.footer-contact-link { max-width: 30ch; }

.footer-list-title {
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-list > li:not(:last-child) { margin-block-end: 10px; }

.footer-list > li:first-child { margin-block-end: 20px; }

.footer-link {
  color: var(--gainsboro);
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) { color: var(--blue-crayola); }

.footer-bottom {
  background-color: var(--eerie-black-2);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  margin-block-end: 20px;
}

.copyright-link {
  display: inline-block;
  color: var(--blue-crayola);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link {
  font-size: 18px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) { color: var(--blue-crayola); }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {
  
  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4rem;
    --fs-2: 3.4rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }



  /**
   * HERO
   */

  .hero-text { --fs-5: 2rem; }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5rem;
    --fs-2: 4rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 750px; }



  /**
   * HERO
   */

  .hero-banner {
    max-width: max-content;
    margin-inline: auto;
  }



  /**
   * TREND
   */

  .trend-tab .tab-content { grid-template-columns: 1fr 1fr; }



  /**
   * INSTRUCTION
   */

  .instruction { overflow: hidden; }

  .instruction .section-text {
    max-width: 40ch;
    margin-inline: auto;
  }

  .instruction-list { grid-template-columns: 1fr 1fr; }

  .instruction-card { position: relative; }

  .instruction-card::after {
    content: "";
    width: 160px;
    height: 12px;
    background-image: url('../images/connect-line.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 50px;
    right: -95px;
  }

  .instruction-list > li:nth-child(even) .instruction-card::after {
    display: none;
  }



  /**
   * APP
   */

  .app-banner { max-width: max-content; }



  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: repeat(3, 1fr); }

  .footer-brand { grid-column: 1 / 3; }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright { margin-block-end: 0; }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  

  /**
   * HEADER
   */

  .header { padding-block: 5px; }

  .header.active { top: -60px; }

  .header > .container { gap: 50px; }

  .nav-toggle-btn { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-end: auto;
  }

  .navbar-list {
    display: flex;
    align-items: center;
  }

  .navbar-item:not(:last-child) { border-block-end: none; }

  .navbar-link {
    font-size: var(--fs-7);
    padding: 15px 12px;
  }

  .navbar-link:is(:hover, :focus, .active) {
    background-color: var(--blue-crayola);
    color: var(--white);
  }



  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .hero-content { margin-block-end: 0; }



  /**
   * MARKET
   */

  .market-tab { padding-block-end: 0; }



  /**
   * ABOUT
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
    gap: 30px;
  }

  .about-banner { margin-block-end: 0; }



  /**
   * APP
   */

  .app { padding-block: 0; }

  .app .container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: flex-end;
    gap: 30px;
  }

  .app-banner { margin-block-start: 0; }

  .app-content { margin-block: 50px; }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6.4rem;
    --fs-2: 4.8rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1280px; }



  /**
   * HEADER
   */

  .header.active { top: -64px; }

  .navbar-link { font-size: unset; }



  /**
   * HERO
   */

  .hero .container { gap: 100px; }



  /**
   * TREND
   */

  .trend-tab .tab-content { grid-template-columns: repeat(4, 1fr); }



  /**
   * INSTRUCTION
   */

  .instruction-list { grid-template-columns: repeat(4, 1fr); }

  .instruction-list > li:nth-child(even) .instruction-card::after {
    display: block;
  }

  .instruction-list > li:last-child .instruction-card::after {
    display: none;
  }



  /**
   * ABOUT, APP
   */

  :is(.about, .app) .container { gap: 60px; }



  /**
   * APP
   */

  .app-content { margin-block: 100px; }



  /**
   * FOOTER
   */

  .footer-top { padding-block: 100px 90px; }

  .footer-top .container { grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr; }

  .footer-brand { grid-column: auto; }

}




html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg: #171717;
  --secondary-bg: #262626;
  --accent-bg: #5372F0;

  --primary-color: #fff;
  --secondary-color: rgba(255,255,255, 70%);
  --accent-color: #5372F0;

  --border-color: rgba(255,255,255, 30%);
  
  --username-size: 32px;
  --title-size: 28px;
  --subtitle: 24px;
}

body {
  background-image: url(/images/banner.jpg);
  background-size: cover;
}

/* ---------- body element's */
.container1{
  height: 100vh;
  backdrop-filter: blur(20px);
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color:blue
}
.container1{
  scrollbar-color: red;
}
.profile-card {
  width: 100vw;
  height: 500px;
  background-color: var(--primary-bg);
  border-radius: 40px;
  /* width:10px; */
  /* border: 2px solid var(--accent-bg); */
  
  /* display: grid;
  grid-template-rows: 220px auto;
  overflow: auto; */
}
/* ------ profile header section */
.profile-header {
  background: url('/images/banner.jpg') center;
  background-size: cover;
  margin: 10px;
  border-radius: 30px 30px 0 0;
  position: relative;
}
  .main-profile {
      display: flex;
      align-items: center;
      position: absolute;
      inset: calc(100% - 75px) auto auto 70px;
  }
      .profile-image {
          width: 150px;
          height: 150px;
          background: url('/images/profile-image.jpg') center;
          background-size: cover;
          /* border-radius: 50%; */
          border: 10px solid var(--primary-bg);
      }
      .profile-names {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: var(--primary-color);
          background-color: var(--primary-bg);
          padding: 10px 30px;
          margin-left: 20px;
          border-radius: 0 50px 50px 0;
          transform: translateX(-10px);
      }
          .page-title {
              color: var(--secondary-color);
          }

/* ------- profile body header */
.profile-body {
  display: grid;
  grid-template-columns: 150px auto;
  gap: 70px;
  padding: 70px;
}

.button3{
display: flex;
gap: 40%;

}


  .profile-actions {
      display: grid;
      grid-template-rows: repeat(2, max-content) auto;
      gap: 30px;
      margin-top: 30px;
  }
  .profile-actions button {
      all: unset;
      padding: 10px;
      color: var(--primary-color);
      border: 2px solid var(--accent-bg);
      text-align: center;
      border-radius: 10px;
  }
      .profile-actions .follow {background-color: var(--accent-bg)}
  .bio {
      color: var(--primary-color);
      background-color: var(--secondary-bg);
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
  }
      .bio-header {
          display: flex;
          gap: 10px;
          border-bottom: 1px solid var(--border-color);
          color: var(--secondary-color);
      }
  .account-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 2fr 1fr;
      gap: 20px;
  }
      .data {
          grid-area: 1/1/2/3;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: var(--secondary-color);
          padding: 30px;
          text-align: center;
          border: 1px solid var(--border-color);
          border-radius: 15px;
      }
          .important-data {
              display: flex;
              justify-content: space-between;
              align-items: center;
          }
          .other-data {
              display: flex;
              justify-content: space-between;
              align-items: center;

              background-color: var(--secondary-bg);
              padding: 15px;
              border-radius: 10px;
          }
          .data-item .value {
              color: var(--accent-color);
          }
              .important-data .value {
                  font-size: var(--title-size);
              }
              .other-data .value {
                  font-size: var(--subtitle);
              }
      .social-media {
          grid-area: 2/1/3/3;
          background-color: var(--secondary-bg);
          color: var(--secondary-color);
          padding: 15px;
          border-radius: 10px;

          display: flex;
          align-items: center;
          gap: 15px;
      }
          .media-link {
              text-decoration: none;
              color: var(--accent-color);
              font-size: var(--subtitle);
          }
      .last-post {
          grid-area: 1/3/3/4;
          border: 1px solid var(--border-color);
          background-color: var(--secondary-bg);
          border-radius: 10px;
          padding: 10px;

          display: grid;
          grid-template-rows: 70% auto max-content;
          gap: 10px;
      }
          .post-cover {
              position: relative;
              background: url('/images/last-post.jpg') center;
              background-size: cover;
              border-radius: 5px;
          }
              .last-badge {
                  position: absolute;
                  inset: 3px 3px auto auto;
                  background-color: rgba(0,0,0, 70%);
                  color: var(--primary-color);
                  padding: 5px;
                  border-radius: 3px;
              }
          .post-title {
              color: var(--primary-color);
              font-size: 18px;
          }
          .post-CTA {
              all: unset;
              text-align: center;
              border: 1px solid var(--accent-color);
              color: var(--accent-color);
              border-radius: 5px;
              padding: 5px;
          }

/* ------------ media queries */
@media screen and (max-width: 950px) {
  .last-post {
      display: none;
  }
  .data, .social-media {
      grid-column: 1/4;
  }
}


@media screen and (max-width: 768px) {
  .profile-card {
      height: 100%;
      border-radius: 0;
  }
      .profile-header {
          border-radius: 0;
      }
          .main-profile {
              inset: calc(100% - 75px) auto auto 50%;
              transform: translateX(-50%);

              flex-direction: column;
              text-align: center;
          }
              .profile-names {transform: translateX(0)}
      .profile-body {
          grid-template-columns: 1fr;
          gap: 20px;
      }
          .profile-actions {
              grid-template-columns: repeat(2, 1fr);
              margin-top: 90px;
          }
              .bio {grid-column: 1/3;}

          .data {gap: 20px;}
}
.profile-card{
  margin-top: 15%;
}

.button3 button{
width: 200px;
}

.button3 .upload-image:hover{
background-color: green;
border-color: green;
}


.button3 .edit-bio:hover{
background-color: green;
border-color: green;
}


.button3 button:hover{
background-color: rgb(0, 6, 128);
border-color: rgb(0, 6, 128);
}

.button3{
gap: 50px;

}

.social-media{
position: absolute;
top: 75%
}

.social-media button{
color: #5372F0;
border-radius: 5px;
padding: 5px;
}

.social-media button:hover{
background-color: #ccc;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dacabc;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: white;
}

.wrapper {
  width: 90rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  border: 2px solid white;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.card {
  width: 90%;
  max-width: 20rem;
  height: 20rem;
  perspective: 60rem;

}

.card__side {
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 1rem;
  background-color: rgb(24,24,24);
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
  transition: all .5s ease-in-out;
}

.card:hover .card__side--back {transform: rotateY(0);}
.card:hover .card__side--front {transform: rotateY(180deg);}

/* Front Side */
.card__img {
  background-size: cover;
  height: 17rem;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-image: linear-gradient(
    rgb(24,24,24), rgb(24,24,24)
  ), url(./work-man.jpg);
  background-blend-mode: soft-light;
}

.card__heading {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 3rem;
  margin: 2.5rem 0;
  text-transform: uppercase;
}

.card__heading span {
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 5px;
  color: #dacabc;
}

/* Back Side */
.card__side--back {
  transform: rotateY(-180deg);
}

.cta {
  margin: 2rem;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin: 2rem 0;
  color: #dacabc;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cta__text {
  padding: 2rem .5rem;
  font-size: .8rem;
  border-top: 1px solid #dacabc;
}

.cta__contact {
  padding: 2rem .5rem;
  opacity: .7;
  font-size: .7rem;
  line-height: 1.5rem;
  border-top: 1px solid #dacabc;
}

.cta__contact i {
  color: #dacabc;
  margin-right: .5rem;
}
 @media only screen and (max-width: 900px),
	     only screen and (hover: none) {
  .wrapper {
    width: 100%;
    flex-wrap: wrap;
  }

  .card {
    height: auto;
		border-radius: 1rem;
		background-color: rgb(24,24,24);
		box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);

  }
  
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }

  .card__side--front {
    border-bottom-left-radius: 0rem;
  }

  .card__side--back {
    transform: rotateY(0);
  }

  .card:hover .card__side--front {
    transform: rotateY(0);
  }

  .card__heading {
    display: none;
  }

  .cta {
    margin: 1rem 2rem;
  }
  
  h2 {
    margin: 0 0 1rem 0;

  }
  
  .cta__text {
    padding: 1rem .5rem;
  }
  
  .cta__contact {
    padding: 1rem .5rem;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    margin: 3rem 0;
  }

  .card:not(:last-child) {
    margin-bottom: 3rem;
  }
}

/* .logo{
 width:38px;
 height:38px;
} */

.left
{
  display: flex;
  justify-content: left;
  padding-left: 100px;
  align-self: center;
}
.button{
  width:100px;
  height:90px;
  background-color: hsl(228, 9%, 10%);
  border-style: none;
  color:white;
  font-weight: bolder;
  font-size: 14px;
  
 
}
button:hover{
  background-color: rgb(20, 57, 181);
}
.nav{
  display: flex;
  justify-content: space-between;
  background-color: hsl(228, 9%, 10%);
  height:65px;
  
}
.right{
  padding-right: 50px;
  align-self: center;
}
.footer{
  background-color:hsl(228, 9%, 10%) ;
}
.logoname{
  font-size: 10.98px;
  font-weight: none;
}
.cards{
  display: flex;
  justify-content:center
  
}







.logo {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: var(--fw-700);
  display: flex;
  align-items: center;
  gap: 5px;
}


.cards{
  border: 2px soldi red;
}

 .img2{
  width:180px;
  height:180px;
}